@import url('https://fonts.googleapis.com/css2?family=Anton&family=Delicious+Handrawn&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@500;600;700;900&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar Start */
.navbar-brand, .Sweet{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 25px;
}
.nav-item, footer, body{
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler{
    border:0;
    line-height: 2;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 500;
    display:inline-block;
}
.nav-link:hover,
.nav-link:active{
    color: #DAD7CD !important;
    font-size: 18px;
    font-weight: 600;
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    animation: 500ms ease-in-out 0s normal none 1 running faceInDown;
}
/* Navbar End */

/* SLIDE SWIPER START */
.banner_wrapper{
    height: 850px;
    width: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.swiper-slide::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index:0;
}
.swiper-pagination-bullet{
    width:.9375rem;
    height:.9375rem;
    background-color:  #DAD7CD;
    border:1px solid #fff;
}
.slide-caption{
    height:100%;
    position:relative;
    z-index:99;
    display:flex;
    align-items:center;
    justify-content: center;
}
.slide-title{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 70px;
    color: #DAD7CD;
    font-weight: 700;
    text-transform: uppercase;
}
.slide-text{
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: 500;
    color: #DAD7CD;

}
.booking-area {
    background: #fff;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
    padding: 50px 30px;
    position: absolute;
    top: 800px;
    left: 280px;
    z-index: 9;
    border-radius: 15px;
}
.form-control, .form-select{
    border:1px solid black;
    height: 40px;;
    text-transform: uppercase;
    font-size: 14px;
    color:black;
    font-weight: 500;
}
.form-control:focus, .form-select:focus {
    outline: none;
    box-shadow: none;
}
.main-btn {
    background-color: #565f51;
    color: #fff;
    border: none;
}
@media (max-width: 1199px) {

    .main-btn{
        font-size:14px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    /* booking area */
    .booking-area{
        padding:48px 10px;
    }
}
@media (max-width: 991px) {

    .slide-title{
        font-size: 36px;
    }
    .slide-text{
        font-size: 15px;
    }
    .main-btn{
        width: 100%;

    }
    /* booking area */
    .banner_wrapper{
        height: 410px;
    }
    .booking-area{
        padding: 50px 30px;
        left: 110px;
        top: 460px;
    }
}
@media (max-width : 896px) {
    .booking-area{
        padding: 50px 30px;
        left: 0px;
        top: 460px;
    }

}
/* SLIDE SWIPER END */
#bx1:hover {
    color: #386bbe;
    transform: scale(1.5);
}

#bx2:hover {
    color: rgb(29, 155, 240);
    transform: scale(1.5);
}

#bx3:hover {
    color: #C13584;
    transform: scale(1.5);
}

#bx4:hover {
    color: red;
    transform: scale(1.5);
}

#bx5:hover {
    color: rgb(16, 199, 16);
    transform: scale(1.5);
}
.row {
    background-color: white;
    border-radius: 30px;
}
/* about section start*/
.about_wrapper{
    margin-top: 150px;
}
.about-title{
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    font-weight: bolder;

}
.about-sous-title{
    color: #E14D2A;
}
.about-text{
    font-family: 'Inconsolata', monospace;
    font-size:  20px;
    font-weight: bolder;
}
/* about section end*/

