@import url('https://fonts.googleapis.com/css2?family=Anton&family=Delicious+Handrawn&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@500;600;700;900&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar Start */

.dropdown-item:hover{
    background-color: #565f51 !important;
    color: #fff;
}

.navbar-brand, .Sweet{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 25px;
}
.nav-item, footer, body{
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler{
    border:0;
    line-height: 2;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 500;
    display:inline-block;
}
.nav-link:hover,
.nav-link.active{
    color: #DAD7CD !important;
    font-size: 18px;
    font-weight: 600;
}
.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    animation: 500ms ease-in-out 0s normal none 1 running faceInDown;
}
/* Navbar End */

/* SLIDE SWIPER START */
.banner_wrapper{
    height: 850px;
    width: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.swiper-slide::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index:0;
}
.swiper-pagination-bullet{
    width:.9375rem;
    height:.9375rem;
    background-color:  #DAD7CD;
    border:1px solid #fff;
}
.slide-caption{
    height:100%;
    position:relative;
    z-index:99;
    display:flex;
    align-items:center;
    justify-content: center;
}
.slide-title{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 70px;
    color: #DAD7CD;
    font-weight: 700;
    text-transform: uppercase;
}
.slide-text{
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: 500;
    color: #DAD7CD;

}
.booking-area {
    background: #fff;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
    padding: 50px 30px;
    position: absolute;
    top: 800px;
    left: 280px;
    z-index: 9;
    border-radius: 15px;
}
.form-control, .form-select{
    border:1px solid black;
    height: 40px;;
    text-transform: uppercase;
    font-size: 14px;
    color:black;
    font-weight: 500;
}
.form-control:focus, .form-select:focus {
    outline: none;
    box-shadow: none;
}
.main-btn {
    background-color: #565f51;
    color: #fff;
    border: none;
}
@media (max-width: 1199px) {

    .main-btn{
        font-size:14px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    /* booking area */
    .booking-area{
        padding:48px 10px;
    }
}
@media (max-width: 991px) {

    .slide-title{
        font-size: 36px;
    }
    .slide-text{
        font-size: 15px;
    }
    .main-btn{
        width: 100%;

    }
    /* booking area */
    .banner_wrapper{
        height: 410px;
    }
    .booking-area{
        padding: 50px 30px;
        left: 110px;
        top: 460px;
    }
}
@media (max-width : 896px) {
    .booking-area{
        padding: 50px 30px;
        left: 0px;
        top: 460px;
    }

}
/* SLIDE SWIPER END */
#bx1:hover {
    color: #386bbe;
    transform: scale(1.5);
}

#bx2:hover {
    color: rgb(29, 155, 240);
    transform: scale(1.5);
}

#bx3:hover {
    color: #C13584;
    transform: scale(1.5);
}

#bx4:hover {
    color: red;
    transform: scale(1.5);
}

#bx5:hover {
    color: rgb(16, 199, 16);
    transform: scale(1.5);
}
.row {
    background-color: white;
    border-radius: 30px;
}
/* about section start*/
.about_wrapper{
    margin-top: 150px;
}
.about-title{
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    font-weight: bolder;

}
.about-sous-title{
    color: #E14D2A;
}
.about-text{
    font-family: 'Inconsolata', monospace;
    font-size:  20px;
    font-weight: bolder;
}
/* about section end*/

/* rooms section start */
.section-title{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}
.line{
    width: 600px;
    margin: auto;
    border: 1px solid black;
}

.card {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    padding: 32px 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border: none;
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display:  block ;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(86,95,81,1) 0%, rgba(70,78,101,1) 100%);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 0.8;

}
.room{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-position: center;
    background-size: cover; */
    position: absolute;
    top: 0;
    left: 0;
}
.card .card-content{
    position: relative;
    z-index: 3;
    color: #DAD7CD;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    border: 2px solid #fff;
    padding: 60px 90px;
}
.card:hover .card-content{
    opacity: 1;
    transform: translateY(0px);
}
.card .card-content .card-title{
    font-family: 'Oswald', sans-serif;
    font-size:42px;
    font-weight: bold;
    margin-bottom: 8px;

}
.card .card-content .card-text{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .card-content .card-link {
    color: black;
    background-color: #d3d9e8;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.card .card-content .card-link:hover{
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}
/* rooms section end */
/* services section start */
.service-item-wrap{
    background-color: #ebeae6;
    border-radius: 0%;
}
.service-link{
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}
.service-icon{
    text-align: center;
    border-radius: 100%;
    background-color:#e0a698;
    float: left;
    transition: all 0.3s ease-in-out;
}
.service-icon:hover, .service-link.active .service-icon{
    background-color: rgb(156, 176, 142);
    box-shadow: 0 2px rgb(34 30 31 / 40%);
}
.service-menu-area ul li:nth-child(1){
    margin-left: 9px;
}
.service-menu-area ul li:nth-child(2){
    margin-left: -47px;
}
.service-menu-area ul li:nth-child(3){
    margin-left: -100px;
}
.service-menu-area ul li:nth-child(4){
    margin-left: -141px;
}
.service-title{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #0b0a34;
    font-weight: 700;
}
.service-title, .service-text{
    padding-left: 30px;
    display: block;
    text-align: left;
}
.counter{
    background-image: url('../../images/counter-bg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    position: relative;
}
.counter::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
.counter-title, .counter-text{
    position: absolute;
    z-index: 3;
    color: #fff;
}
/* services section end */

/* Gallery section start */
.gallery_wrapper .gallery-item{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}
.gallery-item::before,
.gallery-item::after,
.gallery-item-content::before,
.gallery-item-content::after{
    content: '';
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.gallery-item::after{
    top: 50%;
}
.gallery-item:hover::after{
    top: 0;
    opacity: 0.7;
}
.gallery-item:hover::before{
    left: 50%;
    opacity: 0.7;
}
.gallery-item-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.gallery-item:hover .gallery-item-content{
    opacity: 0.7;
}
.gallery-item-content::before,
.gallery-item-content::after{
    top:0;
    left: 50%;
    z-index: -1;
}
.gallery-item-content::before{
    top: 50%;
    opacity: 0.7;
}
.gallery-item-content::after{
    top: 50%;
}
.gallery-item:hover .gallery-item-content::after{
    left: 0;
    opacity: 0.7;
}
/* Gallery section end */

.booking-img:hover{
    transform: scale(2.9);
    transition: 1s ease;
}
