@import url('https://fonts.googleapis.com/css2?family=Anton&family=Delicious+Handrawn&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@500;600;700;900&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.section-head{
    margin-bottom: 60px;
}
.section-head h3{
    position: relative;
    padding: 0;
    color:#9b2226;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size:44px;
    font-weight:700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;

}
.section-head h3::before{
    content:'';
    width:60px;
    height:3px;
    background:#9b2226;
    position:absolute;
    bottom:-10px;
    left:0;
    right:0;
    margin:0 auto;
}
.section-head h3 span{
    font-weight: 700;
    padding-bottom: 5px;
    color:#2f2f2f;
}
.section-head p{
    color:black;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(0);
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }
